@tailwind base;
@tailwind components;
@tailwind utilities;

#thank {
    animation: 20s wordsloop linear infinite normal;
}

#thank:hover {
    animation-play-state: paused
}

@keyframes wordsloop {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}