@tailwind base;
@tailwind components;
@tailwind utilities;

#thank {
    animation: 20s wordsloop linear infinite normal;
}

#thank:hover {
    animation-play-state: paused
}

.menu:hover .menuItem {
    display: block;
}

@keyframes wordsloop {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.donation-option input:checked + label {
    color: blue;
    border-color: rgba(59, 130, 246,1)
}

.donation-option input:not(:checked) + label {
    --bg-opacity: 0;
    box-shadow: none;
}